  <div class="row">
    <div class="col s12 m7 blue">
      <div class="card">
        <div class="card-image">
          <p>MATERIALIZE</p>
          <img src="/images/logo.png">
        </div>
        <div class="card-content">
          <p>Materialize es un framework CSS responsive basado en Material Design. Es bastante robusto, de ahí que permita que el usuario cuente con los estilos posibles para posteriormente poder integrarlos a desarrollos personalizados.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m5 purple">
      <div class="card">
        <div class="card-image">
          </div>
          <div class="card-content">
            <p>Materialize encuentras todo tipo de interfaces, como colores, transiciones, tipografías, botones, navegadores, cabeceras, base de datos de iconos, elementos de formulario, tarjetas, tooltips, acordeones, menús desplegables, botones flotantes, migas de pan, menús con pestañas, sistemas de paginación, listas, así como un sistema de rejilla y mucho más.</p>
          </div>
        </div>
    </div>
  </div>
<div class="row">
    <div class="col s12 m7 red">
        <div class="card-content">
          <p>las ventajas e inconvenientes de Materialize CSS son más o menos las mismas que las de cualquier otro framework CSS, pues todos ofrecen más o menos lo mismo.</p>
        </div>
    </div>
    <p>Version: {{ appVersion }}</p>
</div>

  
  